body{
    background-color: var(--bgc);
}
.skills-section{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills{
    display: flex;
    width: 100%;
    gap: 16px;
    flex-direction: column;
}
.skills-section .card,.skills-section .project{
    padding: 16px;
    background: #cbcbcb;
    border-radius: 8px;
}
.skills-section .card .bar{
    height: 8px;
    width: 100%;
    background: var(--bgc);
    border-radius: 4px;
    position: relative;
}
.skills-section .card .bar .pro{
    position: absolute;
    z-index: 999;
    top:0;
    height: 100%;
    background-color: var(--hbgc);
    border-radius: 4px;
}
.one{
    width:30%
}
.two{
    width:100%
}
.three{
    width:50%;
}
.projects{
    margin: 80px 00;
    display: flex;
    width: 100%;
    gap: 16px;
    flex-direction: column;
}
.skills-section .project{
    display: flex;
    justify-content: flex-start;
    gap: 16px;
}
.skills-section .project .pic{
    height: 200px;
}
.skills-section .project .pic img {
    height: 100%;
}
.skills-section .project .content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.skills-section .project .content a{
    padding: 16px;
    background: var(--hcolor);
    text-decoration: none;
    color: #fff;
    border-radius: 8px;
    width: fit-content;
}